*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif ;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(191,75,75,1) 0%, rgba(76,0,255,1) 100%);
    padding: 10px;
}
.todolist-App{
    width: 100%;
    max-width: 540px;
    background: #3c3c3c;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todolist-App h1{
    color: #f2f2f2;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.todolist-App h1 img{
    width: 50px;
    margin-left: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #757575;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: large;
    font-weight: bolder;
    
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    color: #f2f2f2;
    position: relative;
}
ul li::before{
    content: "";
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #757575;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(checkmark.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px ;
    height: 40px ;
    font-size: 22px;
    color: #767676;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
   background:#fff;
}